<div class="row" >
  <div class="col-lg-1 col-md-1 col-padd0-r">
    POD_ID
  </div>
  <div class="col-lg-1 col-md-1  col-padd0-l">
    <select style="width: 70px;">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>
  <div class="col-lg-3 col-md-3  col-padd0-l">
    <input style="width:100%" [(ngModel)]="clinic.podName" placeholder="POD_NAME" type="text">
  </div>
  <div class="col-lg-4 col-md-4  col-padd0-l">
    <input style="width:100%" placeholder="POD_ADDRESS" type="text">
  </div>
  <div class="col-lg-2 col-md-2  col-padd0-l">
    <input style="width: 90px;" [(ngModel)]="clinic.state" placeholder="POD_STATE" type="text">
  </div>
</div>
<div class="row" >
  <div class="col-lg-1 col-md-1 col-padd0-r">
    BATCH_ID
  </div>
  <div class="col-lg-1 col-md-1  col-padd0-l">
    <select style="width: 70px;">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>
  <div class="col-lg-5 col-md-5  col-padd0-l">
    <input style="width:100%" placeholder="VACCINE_PRODUCT" type="text">
  </div>
  
</div>
<div class="row" >
  <div class="col-lg-6 col-md-6 col-padd0-r">
    If Pfizer or Moderna add dose-1 and dose-2 clinics? 
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-l">
    <input class="wide-chk" type="checkbox" [(ngModel)]="clinic.isTwoDoseClinics" name="isTwoDoseClinics">
  </div>
</div>
<div class="row" >
  <div class="col-lg-1 col-md-1 col-padd0-c">
    CLINIC ID
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    DOSE
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    ACTIVE
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    WALK_IN <br/>
    ENABLED
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    CLINIC DATE
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    START TIME
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    END TIME
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    TIME ZONE
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    INTERVAL<br/>
    IN MINS
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    AVAIL<br/>
    SLOTS PER <br/>
    INTERVAL
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    RECORD STATUS
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    IN-HOUSE<br/>
    SCHED
  </div>
</div>
<div class="row" >
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="text">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 50px;">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 50px;">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="date" style="width: 135px;">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="time">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="time">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="EST">EST</option>
      <option value="CST">CST</option>
      <option value="PST">PST</option>
      <option value="MST">MST</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="60">60</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="10" type="text">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="NEW">NEW</option>
      <option value="SLOT_UPDATED">SLOT_UPDATED</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="text">
  </div>
</div>
<div class="row" *ngIf="clinic.isTwoDoseClinics" >
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="text">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 50px;">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 50px;">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="0">0</option>
      <option value="1">1</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="date" style="width: 135px;">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="time">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="time">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="EST">EST</option>
      <option value="CST">CST</option>
      <option value="PST">PST</option>
      <option value="MST">MST</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="60">60</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="10" type="text">
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <select style="width: 70px;">
      <option value="NEW">NEW</option>
      <option value="SLOT_UPDATED">SLOT_UPDATED</option>
    </select>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" type="text">
  </div>
</div>

<div class="row btn-row">
  <div class="col-lg-1">
    <a class="btn" style="color:green">SAVE</a>
  </div>
  <div class="col-lg-1">
    <a class="btn" style="color:red">CANCEL</a>
  </div>
  <div class="col-lg-8">

  </div>
  <div class="col-lg-2" style="text-align: right;">
    <a class="btn" style="color: #3659bd;
    font-weight: bold;" (click)="generateSlots()">Generate Slots>></a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 cm-header">
      <div class="cm-title">View Slots</div>
      
      
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1 col-padd0-c">
    CLINIC_ID
  </div>
  <div class="col-lg-2 col-md-2 col-padd0-c">
    CLINIC_DATE
  </div>
  <div class="col-lg-2 col-md-2 col-padd0-c">
    SLOT_START_TIME
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    REM_SLOTS
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    SLOT_ID
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1 col-padd0-c ">
    <input size="5" [(ngModel)]="slot.clinicId" type="text" readonly>
  </div>
  <div class="col-lg-2 col-md-2 col-padd0-c">
    <input type="text"  [(ngModel)]="slot.clinicDate" readonly>
  </div>
  <div class="col-lg-2 col-md-2 col-padd0-c">
    <input type="text"  [(ngModel)]="slot.startTime" readonly>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input  size="5" [(ngModel)]="slot.remainingSlots" type="text" readonly>
  </div>
  <div class="col-lg-1 col-md-1 col-padd0-c">
    <input size="5" [(ngModel)]="slot.slotId" type="text" readonly>
  </div>
</div>