.clinic-button{
    width: 150px;
    border: 1px solid #d0d8f0;
    /* box-shadow: 2px 2px 2px #b6c3ee; */
    height: 120px;
    margin-left: calc(50% - 75px);
    background: linear-gradient(to top, #b6c3ee 0%, #f3f3f3 100%);
    cursor: pointer;
    border-radius: 2px;
}
.cb-title{
    margin-top:calc(50% - 45px);
    font-size: 20px;
    font-weight: bold;
}